

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  h2 {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 90%;
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  body {
    background-color: rgb(200, 200, 237);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 90%;
  }

  .wrapper {
    background: rgb(195, 206, 236);
    margin: auto;
    max-width: 560px;
    width: 100%;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }

  .item {
    font-size: 1.5rem;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;
    background-color: rgb(238, 237, 243);
    padding: 0 2%;
  }

  .fas {
    display: flex;
    align-self: center;
  }
